.about {
  display: flex;
  flex-direction: row;
  margin: 10px 15px;
}

.about-column {
  margin: 0 25px;
}

@media only screen and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .about-column {
    margin: 0;
  }
}
