.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 25px;
    margin-bottom: 50px;
}

.contact-form > * {
    width: 50%;
    height: 35px;
    margin: 5px 0;
}

.submit {
  color: rgba(7, 29, 95, 1.00);
  border-radius: 3px;
  border: 2px solid rgba(7, 29, 95, 1.00);;
  font-weight: bold;
  font-size: 25px;
}

.submit:hover {
  color: rgba(241, 242, 242, 1.00);
  background: rgba(7, 29, 95, 1.00);
  transition: background .3s ease;
  cursor: pointer;
}

.contact {
  margin-bottom: 15px;
}

.half {
  width: 50%
}

.contact-form-center {
  align-items: center;
}

.success-hidden {
  opacity: 0;
}

.success {
  opacity: 100;
}
