html {
  background-color: rgba(241, 242, 242, 1.00);
}
a {
  text-decoration: none;
  color: rgba(7, 29, 95, 1.00);
}
a:visited {
    color: black;
    text-decoration: none;
}
.full-page {
    margin: 0;
}

.container {
  width: 80%;
  background-color: rgba(241, 242, 242, 1.00);
  margin: 0 auto;
  box-shadow: 12px 0 8px -4px rgba(180, 180, 180, 0.1), -12px 0 8px -4px rgba(180, 180, 180, 0.1);
}

.card-category {
    background-size: cover;
    background-position: center;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 3px 3px 10px rgba(30, 30, 30, .1);
    background-color: #f1f2f2;
}



.nav-list >  li {
    margin: 15px;
}

.main-header {
    margin: 15px;
    font-size: 20px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex {
  display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.spaced-equal {
  margin-left: 200px !important;
}

.text-center {
    text-align: center;
    margin: 2px;
}

.failed {
  border: 1px solid red;
}

.hide {
  opacity: 0;
}

.error {
  color: red;
}

.hidden-error {
  margin-bottom: 0;
}

.logo {
  height: 100px;
  width: 150px;
  display: block;
  margin-right: auto;
}

.green {
  color: green;
  font-weight: 150px;
}

.set-height {
  height: 260px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.show-success {
  opacity: 100;
  transition: opacity 2.75s ease;
}

.large {
  font-size: 100px;
}

.line-break {
  width: 90%;
  border-bottom: 1px solid rgba(7, 29, 95, 1.00);
  margin: 75px auto 0;
}

.padding-top {
  padding-top: 40px !important;
}

.padding-bottom {
  padding-bottom: 40px !important
}

.inner {
  width: 90%;
  margin: 0 auto;
}

.red {
  color: rgba(180, 7, 9, 1.00);
}

.blue {
  color: rgba(7, 29, 95, 1.00);
}

@media only screen and (max-width: 480px) {
  .nav {
    display: flex;
    align-items: center;
    box-shadow: inset 3px 3px 10px rgba(30, 30, 30, .1);
    background-color: #f1f2f2;
    flex-direction: column;
  }
  .nav-list {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
  }

  .container {
    width: 100%;
  }
}
