.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn {
  color: white;
  background-color: rgba(7, 29, 95, 1.00);
  padding: 15px 25px;
  border-radius: 3px;
}
.btn-gradient {
  color: rgba(7, 29, 95, 1.00);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: rgba(241, 242, 242, 1.00);
  transition: background 0.3s ease;
  border: 1px solid rgba(7, 29, 95, 1.00);
}

.btn-gradient:hover {
  background: rgba(7, 29, 95, 1.00);
  color: white;
}

@media only screen and (max-width: 480px) {
  .banner {
    padding: 125px 0;
  }

  .banner h1 {
    text-align: center;
  }

  .banner p {
    text-align: center;
  }
}
